<section class="mds-customers">
    <div class="mds-container">
        <div class="logos">
            <img src="{{asset "images/sncf.png"}}" height="40"/>
            <img src="{{asset "images/edf.png"}}" height="40"/>
            <img src="{{asset "images/ferpection.png"}}" height="40"/>
            <img src="{{asset "images/monrhpaie.png"}}" height="40"/>
            <img src="{{asset "images/steply.png"}}" height="40"/>
            <img src="{{asset "images/euronews.png"}}" height="30"/>
            <img src="{{asset "images/ca.png"}}" height="40"/>
            <img src="{{asset "images/sncf.png"}}" height="40"/>
            <img src="{{asset "images/edf.png"}}" height="40"/>
            <img src="{{asset "images/ferpection.png"}}" height="40"/>
            <img src="{{asset "images/monrhpaie.png"}}" height="40"/>
            <img src="{{asset "images/steply.png"}}" height="40"/>
            <img src="{{asset "images/ca.png"}}" height="40"/>
            <img src="{{asset "images/euronews.png"}}" height="30"/>
            <img src="{{asset "images/sncf.png"}}" height="40"/>
            <img src="{{asset "images/edf.png"}}" height="40"/>
            <img src="{{asset "images/ferpection.png"}}" height="40"/>
            <img src="{{asset "images/monrhpaie.png"}}" height="40"/>
            <img src="{{asset "images/steply.png"}}" height="40"/>
            <img src="{{asset "images/ca.png"}}" height="40"/>
            <img src="{{asset "images/euronews.png"}}" height="30"/>
        </div>
    </div>
</section>