<!DOCTYPE html>
<html lang='{{{block 'htmlLang'}}}'>

<head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='monetization' content='$ilp.uphold.com/Apm7DzrByBYN' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    {{{block 'meta'}}}
    <title>{{{block 'title'}}}</title>
    {{{block 'styles'}}}

    <link rel="preconnect" href="https://www.facebook.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://connect.facebook.net" crossorigin="anonymous" />

    <link rel="preload" as="script" href="https://cdn.jsdelivr.net/ghost/portal@~2.25/umd/portal.min.js" crossorigin />

    {{ghost_head}}
</head>

<body class='{{body_class}}'>
    <div class='mds-viewport'>
        <header id='mds-head' class='mds-head'>
            <nav class='mds-head-inner mds-container' role='navigation' aria-label='Main Navigation'>
                <div class='mds-head-brand'>
                    <a class='mds-head-logo' href='{{@site.url}}'>
                        {{#if @site.logo}}
                        <img src='{{@site.logo}}' alt='{{@site.title}} - Back to home page' />
                        {{else}}
                        {{@site.title}}
                        {{/if}}
                    </a>
                </div>
                {{#match @custom.menu_position "!=" "Menu on the left side"}}
                <div class='mds-head-placeholder'></div>
                {{/match}}
                <div class='mds-head-menu'>
                    <nav class="mds-main-menu">
                        {{navigation}}
                    </nav>
                </div>
                {{#match @custom.menu_position "!=" "Menu on the right side"}}
                <div class='mds-head-placeholder'></div>
                {{/match}}
                <div class='mds-head-actions'>
                    {{#if @custom.enable_search}}
                    <a class="search-button" data-ghost-search>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
                        </svg>
                    </a>
                    {{/if}}

                    {{#if @custom.global_cta_url}}
                    <a class="button highlighted shop-button" target='_blank'
                        href="{{@custom.global_cta_url}}">{{@custom.global_cta_text}}</a>
                    {{/if}}

                    <div class="more-menu">
                        <header class="mds-head">
                            <div class="mds-container">
                                <div class='mds-head-brand'>
                                    <a class='mds-head-logo' href='{{@site.url}}'>
                                        {{#if @site.logo}}
                                        <img src='{{@site.logo}}' alt='{{@site.title}} - Back to home page' />
                                        {{else}}
                                        {{@site.title}}
                                        {{/if}}
                                    </a>
                                </div>
                                <div class='mds-head-placeholder'></div>
                                <div class="close-button" tabindex="0">{{> "icons/times"}}</div>
                            </div>
                        </header>

                        {{#if @custom.global_cta_url}}
                        <ul>
                            <li><a class="button highlighted"
                                    href="{{@custom.global_cta_url}}">{{@custom.global_cta_text}}</a></li>
                            {{#if @custom.enable_search}}
                            <li><a class="" href="#/search">Recherche</a></li>
                            {{/if}}
                        </ul>
                        {{/if}}
                    </div>
                </div>
            </nav>
        </header>

        <main class='mds-main'>

            {{{body}}}
            {{! All content gets inserted here, index.hbs, post.hbs, etc }}

        </main>

        <footer class='mds-foot'>
            <div class='mds-container'>
                {{!-- <nav class='mds-foot-menu' role='navigation' aria-label='More Links'>
                    <div class='menu-list'>
                        <h2>À propos</h2>

                        {{navigation type='secondary'}}
                    </div>
                </nav> --}}
                <div class='mds-foot-meta'>
                    Développé avec amour par <a href='https://nathanaelcherrier.dev/'>Nathanaël Cherrier</a>.
                    &copy;{{date format='YYYY'}} <a href='https://mindsers.it/'>MindsersIT</a>. Tous droits réservés.<br />
                    <a href='/legal-notices/'>
                        Mentions Légales
                    </a>
                </div>
            </div>
        </footer>
    </div>

    {{! <foot> }}
    <script type="module" src="{{asset 'js/menu.js'}}" async></script>
    {{{block 'scripts'}}}
    {{ghost_foot}}
</body>

</html>